### Week 1
### DSC 550
### Abed Tabbalat

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the dataset as a Pandas data frame
df = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv')
df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Display the first ten rows of data.
df.head(10)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Find the dimensions (number of rows and columns) in the data frame. What do these two numbers represent in the context of the data?
print(df.shape)
print(f'We have {df.shape[0]} rows and {df.shape[1]} columns')

(16719, 16)
We have 16719 rows and 16 columns

In [9]:
# Find the top five games by critic score.
df_critic = df.sort_values(by=['Critic_Score'], ascending=False)
df_critic.head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
227,Tony Hawk's Pro Skater 2,PS,2000.0,Sports,Activision,3.05,1.41,0.02,0.20,4.68,98.0,19.0,7.7,299.0,Neversoft Entertainment,T
57,Grand Theft Auto IV,PS3,2008.0,Action,Take-Two Interactive,4.76,3.69,0.44,1.61,10.50,98.0,64.0,7.5,2833.0,Rockstar North,M
51,Grand Theft Auto IV,X360,2008.0,Action,Take-Two Interactive,6.76,3.07,0.14,1.03,11.01,98.0,86.0,7.9,2951.0,Rockstar North,M
5350,SoulCalibur,DC,1999.0,Fighting,Namco Bandai Games,0.00,0.00,0.34,0.00,0.34,98.0,24.0,8.8,200.0,Namco,T
165,Grand Theft Auto V,XOne,2014.0,Action,Take-Two Interactive,2.81,2.19,0.00,0.47,5.48,97.0,14.0,7.9,764.0,Rockstar North,M

In [12]:
# Find the number of video games in the data frame in each genre.
df_count = df.groupby('Genre').count()
df_count

,Name,Platform,Year_of_Release,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
Genre,,,,,,,,,,,,,,,
Action,3370,3370,3308,3364,3370,3370,3370,3370,3370,1890,1890,2206,1830,2226,2188
Adventure,1303,1303,1293,1299,1303,1303,1303,1303,1303,323,323,459,300,469,446
Fighting,849,849,837,847,849,849,849,849,849,409,409,438,399,440,438
Misc,1750,1750,1721,1723,1750,1750,1750,1750,1750,523,523,888,439,886,882
Platform,888,888,878,887,888,888,888,888,888,497,497,567,428,569,569
Puzzle,580,580,569,580,580,580,580,580,580,224,224,339,128,347,342
Racing,1249,1249,1226,1248,1249,1249,1249,1249,1249,742,742,874,641,884,872
Role-Playing,1500,1500,1483,1499,1500,1500,1500,1500,1500,737,737,773,743,788,777
Shooter,1323,1323,1296,1321,1323,1323,1323,1323,1323,944,944,1023,924,1025,1019
Simulation,874,874,858,870,874,874,874,874,874,352,352,582,344,584,569
Sports,2348,2348,2306,2345,2348,2348,2348,2348,2348,1194,1194,1516,1103,1526,1509
Strategy,683,683,673,680,683,683,683,683,683,302,302,350,311,352,339

In [13]:
# Find the first five games in the data frame on the SNES platform.
df_snes = df.sort_values(by=['Year_of_Release'])
df_snes = df_snes[df_snes['Platform'] == 'SNES'].head(5)
df_snes

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
511,F-Zero,SNES,1990.0,Racing,Nintendo,1.37,0.51,0.89,0.07,2.85,NaN,NaN,NaN,NaN,NaN,NaN
1791,Pilotwings,SNES,1990.0,Simulation,Nintendo,0.46,0.17,0.48,0.02,1.14,NaN,NaN,NaN,NaN,NaN,NaN
18,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61,NaN,NaN,NaN,NaN,NaN,NaN
1195,Final Fight,SNES,1990.0,Action,Capcom,0.67,0.17,0.69,0.03,1.56,NaN,NaN,NaN,NaN,NaN,NaN
6599,Romance of the Three Kingdoms II,SNES,1991.0,Strategy,Tecmo Koei,0.00,0.00,0.25,0.00,0.25,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# Find the five publishers with the highest total global sales. Note: You will need to calculate the total global sales for each publisher to do this.
df_sales = df.groupby('Publisher').sum().reset_index()
df_sales = df_sales[['Publisher', 'Global_Sales']]
df_sales = df_sales.sort_values(by=['Global_Sales'], ascending=False).head(5)
df_sales

                       Publisher  Global_Sales
361                     Nintendo       1788.81
139              Electronic Arts       1116.96
21                    Activision        731.16
458  Sony Computer Entertainment        606.48
528                      Ubisoft        471.61

In [19]:
# Create a new column in the data frame that calculates the percentage of global sales from North America. Display the first five rows of the new data frame.
df_ratio = df
df_ratio['NA_Sales_Ratio'] = df_ratio['NA_Sales'] / df_ratio['Global_Sales']
df_ratio.head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,NA_Sales_Ratio
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E,0.501151
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,0.722664
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,0.441441
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E,0.476350
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,0.359260

In [20]:
# Find the number NaN entries (missing data values) in each column.
df.isna().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
NA_Sales_Ratio        0
dtype: int64

In [39]:
# Try to calculate the median user score of all the video games. You will likely run into an error because some of the user score entries are a non-numerical
# string that cannot be converted to a float. Find and replace this string with NaN and then calculate the median. Then, replace all NaN entries in the user
# score column with the median value.
df_median = df
print(f'User_Score type before update: {df_median["User_Score"].dtypes}')

df_median = df_median.replace('tbd', np.nan)
df_median = df_median.astype({'User_Score' : 'float64'})
print(f'User_Score type after update: {df_median["User_Score"].dtypes}')

user_median = df_median['User_Score'].median()
print(f'\nThe median for User_Score is: {user_median}')

df_median = df_median.replace(np.nan, user_median)
print(f'\nNan check for User_Score: {df_median["User_Score"].isna().sum()}')
df_median

User_Score type before update: object
User_Score type after update: float64

The median for User_Score is: 7.5

Nan check for User_Score: 0

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,NA_Sales_Ratio
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E,0.501151
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,7.5,7.5,7.5,7.5,7.5,7.5,0.722664
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,0.441441
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E,0.476350
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,7.5,7.5,7.5,7.5,7.5,7.5,0.359260
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,7.5,7.5,7.5,7.5,7.5,7.5,0.000000
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,7.5,7.5,7.5,7.5,7.5,7.5,0.000000
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,7.5,7.5,7.5,7.5,7.5,7.5,0.000000
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,7.5,7.5,7.5,7.5,7.5,7.5,1.000000
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,7.5,7.5,7.5,7.5,7.5,7.5,0.000000