### Assignment 01 Calculations & Sources
### DSC 650
### Abed Tabbalat

In [2]:
# Library imports
import pandas as pd
import numpy as np
import math

##### Sources: Data Sizes
* 1 character = 1 byte
* Uncompressed 4x8bit RGBA (PNG): https://toolstud.io/photo/filesize.php?imagewidth=1024&imageheight=768
* Uncompressed 16bit monochrome (RAW): https://toolstud.io/photo/filesize.php?imagewidth=1024&imageheight=768
* MP4 H.265/HEVC (15 min video, 30 FPS): https://www.videoproc.com/edit-4k-video/video-size-calculator.htm
* Uncompressed 1080 8-bit (15 min video, 30 FPS): https://www.videoproc.com/edit-4k-video/video-size-calculator.htm
* 4K H.264 (15 min, 30 FPS): https://www.videoproc.com/edit-4k-video/video-size-calculator.htm
* REDCODE36 RAW 4k (15 min, 30 FPS): https://www.videoproc.com/edit-4k-video/video-size-calculator.htm
* Human Genome: https://www.technologyreview.com/2012/04/25/186381/bases-to-bytes/

##### Sources: Scaling

In [3]:
# Scaling calculations
scaling_result = []

# Constants
hd = 1 / 10

# Helper function to calculate HD
def calculate_hd(data, hd_ratio):
    return math.ceil(data * 3 * hd_ratio)

# Daily Twitter Tweets (Uncompressed)
daily_twitter_tweets_un = (500000000 * 128 * 1) / 1000000000000
hd_daily_twitter_tweets_un = calculate_hd(daily_twitter_tweets_un, hd)
scaling_result.append(['Daily Twitter Tweets (Uncompressed)', daily_twitter_tweets_un, hd_daily_twitter_tweets_un])

# Daily Twitter Tweets (Snappy Compressed)
daily_twitter_tweets_snappy = daily_twitter_tweets_un / 1.5
hd_daily_twitter_tweets_snappy = calculate_hd(daily_twitter_tweets_snappy, hd)
scaling_result.append(['Daily Twitter Tweets (Snappy Compressed)', daily_twitter_tweets_snappy, hd_daily_twitter_tweets_snappy])

# Daily Instagram Photos
daily_instagram_photo = (100000000 * 0.75) * (0.00000315)
hd_daily_instagram_photo = calculate_hd(daily_instagram_photo, hd)
scaling_result.append(['Daily Instagram Photos', daily_instagram_photo, hd_daily_instagram_photo])

# Daily YouTube Videos
daily_youtube_video = (500 * 1440) * (878.9 / 1000000)
hd_daily_youtube_video = calculate_hd(daily_youtube_video, hd)
scaling_result.append(['Daily YouTube Videos', daily_youtube_video, hd_daily_youtube_video])

# Yearly calculations
days_per_year = 365

# Yearly Twitter Tweets (Uncompressed)
yearly_twitter_tweets_un = daily_twitter_tweets_un * days_per_year
hd_yearly_twitter_tweets_un = calculate_hd(yearly_twitter_tweets_un, hd)
scaling_result.append(['Yearly Twitter Tweets (Uncompressed)', yearly_twitter_tweets_un, hd_yearly_twitter_tweets_un])

# Yearly Twitter Tweets (Snappy Compressed)
yearly_twitter_tweets_snappy = daily_twitter_tweets_snappy * days_per_year
hd_yearly_twitter_tweets_snappy = calculate_hd(yearly_twitter_tweets_snappy, hd)
scaling_result.append(['Yearly Twitter Tweets (Snappy Compressed)', yearly_twitter_tweets_snappy, hd_yearly_twitter_tweets_snappy])

# Yearly Instagram Photos
yearly_instagram_photo = daily_instagram_photo * days_per_year
hd_yearly_instagram_photo = calculate_hd(yearly_instagram_photo, hd)
scaling_result.append(['Yearly Instagram Photos', yearly_instagram_photo, hd_yearly_instagram_photo])

# Yearly YouTube Videos
yearly_youtube_video = daily_youtube_video * days_per_year
hd_yearly_youtube_video = calculate_hd(yearly_youtube_video, hd)
scaling_result.append(['Yearly YouTube Videos', yearly_youtube_video, hd_yearly_youtube_video])

# Create DataFrame with scaling results
columns = ['Data Item', 'Size', '# HD']
df_scaling = pd.DataFrame(scaling_result, columns=columns)
df_scaling

                                   Data Item           Size   # HD
0        Daily Twitter Tweets (Uncompressed)       0.064000      1
1   Daily Twitter Tweets (Snappy Compressed)       0.042667      1
2                     Daily Instagram Photos     236.250000     71
3                       Daily YouTube Videos     632.808000    190
4       Yearly Twitter Tweets (Uncompressed)      23.360000      8
5  Yearly Twitter Tweets (Snappy Compressed)      15.573333      5
6                    Yearly Instagram Photos   86231.250000  25870
7                      Yearly YouTube Videos  230974.920000  69293

##### Sources: Reliability

In [4]:
# Source = https://www.backblaze.com/b2/hard-drive-test-data.html

df_reliability = df_scaling[['Data Item', '# HD']]
df_reliability = df_reliability[df_reliability['Data Item'].str.startswith('Yearly')]
df_reliability['Failures'] = df_reliability['# HD'].apply(lambda x: math.ceil(x * 0.0137))
df_reliability

                                   Data Item   # HD  Failures
4       Yearly Twitter Tweets (Uncompressed)      8         1
5  Yearly Twitter Tweets (Snappy Compressed)      5         1
6                    Yearly Instagram Photos  25870       355
7                      Yearly YouTube Videos  69293       950

##### Sources: Latency

In [5]:
# 5 ms per 1000 km
# link: https://www.scaleway.com/en/blog/understanding-network-latency/#
ms = 0.005

ams_la = 8934 * ms
low_earth = 900 * ms
geostationary = 35786 * ms
earth_moon = 384400 * ms
earth_mars = 83336000 * ms * (1 / 60000)

latency = [
    ['Los Angeles to Amsterdam', 'ms', ams_la],
    ['Low Earth Oribit Satellite', 'ms', low_earth],
    ['Geostationary Satellite', 'ms', geostationary],
    ['Earth to the Moon', 'ms', earth_moon],
    ['Earth to Mars', 'minutes', earth_mars]
]

df_latency = pd.DataFrame(latency, columns=['Data Item', 'Unit', 'One Way Latency'])
df_latency

                    Data Item     Unit  One Way Latency
0    Los Angeles to Amsterdam       ms        44.670000
1  Low Earth Oribit Satellite       ms         4.500000
2     Geostationary Satellite       ms       178.930000
3           Earth to the Moon       ms      1922.000000
4               Earth to Mars  minutes         6.944667